streamlit==1.38.0
pandas==2.2.2
numpy==1.26.4
plotly==5.24.0
folium==0.17.0
streamlit-folium==0.22.0
snowflake-connector-python==3.12.2
scikit-learn==1.5.2
reportlab==4.2.2
requests==2.32.3
Pillow==10.4.0
matplotlib==3.9.2
seaborn==0.13.2
branca==0.8.0
google-generative-ai
python-dotenv==1.0.1
pyarrow==17.0.0
toml==0.10.2
